/* Setting some global styles */
body {
  font-family: 'Montserrat',  sans-serif;
  color: #4A4A4A;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #fff;
}

/* Making the headers a different font as to the body text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Making sure the footer and header headings are Montserrat as they are easier to read this way  */
nav h1, nav h2, nav h3, nav h4, nav h5, nav h6,
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  font-family: 'Montserrat', sans-serif;
}


/* Header and Navigation */
header {
  background-color: rgb(210, 36, 36);
  padding: 0.1em 0;
}

/* Add a hover effect to all links */
a:hover {
  color: rgb(56, 65, 69);
}

footer a:hover {
  color: rgb(192, 37, 37);
}

/* Making the navigation a flex box */
nav ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

/* Taking away bullet points */
nav ul li {
  list-style: none;
}

/* Styling the logo image */
nav img {
  width: 10vw;
  height: 5vw; 
  border-radius: 20px;
  margin-top: 1em;
  min-width: 80px; 
  min-height: 60px;
}

/* Styling the navigation links */
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem; 
}

/* Masthead styling */
.masthead {
  background-image: url('../images/main-masthead.jpg');
  width: 100%;
  height: auto; 
  background-position: 60%;
  background-size: cover;
  padding: 2em 0;
  text-align: center;
}

#testament {
  margin-top: 2.2em;
  font-size: 2em;
  color: #000;
}

/* Styling a wrapper div to contain and back shadow */
#wrapper {
  width: 50%; 
  height: auto; 
  margin: 8rem auto; 
  background: rgba(56, 65, 69, 0.96);
  padding: 1.4em;
  border-radius: 40px;
}

/* Styling the h1 tag in the masthead */
.masthead h1 {
  font-size: 3.125rem; 
  margin-bottom: 0.5em;
  position: relative;
  top: 15%;
  color: white;
}

/* Styling the anchor tag in the masthead */
.masthead a {
  display: inline-block;
  padding: 0.7em 1.5em;
  background: rgb(210, 36, 36);
  color: white;
  font-size: 1.25rem; 
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
  top: 20%;
}

/* Services Section */

/* Setting global styles on the services page  */
.services {
  background-color: rgb(210, 36, 36);
  text-align: center;
  padding: 2em 0;
  margin-top: 0;
  width: 100%;
  height: auto; 
}
/* Styling for the services section */
.services ul {
  display: flex; /* Display the list items in a row */
  width: 100%;
}

.services h2 {
  color: white; 
  font-size: 2.1875rem; /* Set the font size */
  margin-bottom: 1em; /* Set the bottom margin */
}

main #spacer h2 {
  color: black;
}

.services ul {
  padding: 0; /* Remove padding from the unordered list */
}

.services li {
  list-style: none; /* Remove the bullet points from the list items */
  align-items: center; /* Align the items vertically */
  width: 33.33%; /* Set the width to one-third of the container */
  margin: 1.5em; 
  background: #f5f5f5; 
  padding: 1em; /* Set the padding */
  border-radius: 5px; /* Add rounded corners */
}

.services li img {
  width: 100%; 
  height: 8.5em; 
  border-bottom: 6px solid rgb(210, 36, 36); /* Add a bottom border */
}

.services li img:hover {
  transform: scale(1.05); /* Scale the image on hover */
}

.services h3 {
  color: #333; 
  margin: 0.5em 0; /* Set the top and bottom margin */
}

.services p {
  font-size: 1rem; 
}

/* Styling for the quote section */
.getAQuote {
  background: white; /* Set the background color to the green used throughout the site */
  width: 50%; 
  margin: 0 auto; /* Center the element */
  border-radius: 10px; /* Add rounded corners */
  color: #fff; 
  text-align: center; /* Center align the text */
  padding: 2em 0; /* Set the padding */
  height: auto; /* Set the height to auto so it auto changes*/
}

.getAQuote h2 {
  margin: 0.25em auto; 
  font-size: 1.875rem; 
}

.getAQuote a {
  display: inline-block; /* Display as inline-block */
  margin-top: 1em; /* Set top margin so there is more space */
  font-size: 1.25rem;
  padding: 0.625em 1.8em;
  background: rgb(50, 61, 66);
  color: rgb(210, 36, 36); 
  text-decoration: none; /* Remove underline */
  font-weight: 600; /* Set the font weight */
  border-radius: 5px; /* Add rounded corners */
}

/* Styling for the footer */
footer {
  background: rgb(50, 61, 66);
  color: white; 
  padding: 1em 0; /* Set the padding */
  text-align: center; /* Center align the text */
}

footer img {
  position: relative; /* Set the position to relative so that it can be moved about the page */
  left: 1%; 
  width: 10vw; /* Set the width */
  height: 5vw; /* Set the height */
  border-radius: 20px; /* Add rounded corners */
  margin-top: 1em; 
  min-width: 80px; 
  min-height: 60px; 
}

footer a {
  color: white; 
  text-decoration: none; /* Remove underline */
  display: block; /* Display as block */
  margin-bottom: 0.5em; /* Set the bottom margin */
}

footer h3 {
  margin-bottom: 1.3rem; 
}

footer li {
  font-size: 0.8rem; /* Set the font size */
  list-style: none; /* Remove the bullet points */
}

footer p {
  font-size: 0.8rem; 
}

#bottomWrapper {
  display: flex; /* Make the wrapper a flex box */
  justify-content: space-evenly; /* Space the items evenly */
  flex-direction: row; /* Set the direction to row */
  width: 100%; 
}

#easyAccessLinks ul {
  padding: 0; /* Remove padding from the unordered list */
  margin: 0 auto; /* Center align the list */
  list-style-type: none; /* Remove the bullet points */
  text-align: center; 
}

/* Style the different footer elements */
#socialMedia,
#reachUs,
#easyAccessLinks {
  display: inline-block; 
  margin-right: 2em; 
  flex: 1; /* Set the flex value */
}

/* Adding a media query for small screen sizes, changing structure, sizing and margin */
@media (max-width: 320px) {
  #wrapper h1 {
    font-size: 1.7em;
  }

  section #wrapper  {
    height: auto;
    margin-top: 60px;
  }
  .masthead {
    height: 35vh;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }


  #wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    
  }

  .masthead h1 {
    font-size: 2.5em;
    margin-top: auto;
    margin-bottom: 0px;
    text-align: center;
  }

  .masthead a {
    /* Less padding */
    padding: 6px;
    font-size: 1em;
    margin-top: 1em;
  }

  #testament {
    font-size: 1.3em;
  }

  .services ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto; /* Centers the UL within its parent */
  }

  .services li {
    width: 75%;
    height: 75%;
    justify-content: center;
    margin: 10px auto;
    
  }

  .services {
    height: auto;
  }
  .services li {
    padding: 0.7em;
  }

  .getAQuote {
    margin-top: 30px;
  }

  /* Adjust the footer */
  #bottomWrapper {
    flex-direction: column;
  }

  footer img {
    /* Move the logo to the center of the footer */
    margin: 0 auto;

    /* Move the image to the very bottom */
    order: 1;
  }

  #socialMedia,
  #reachUs,
  #easyAccessLinks {
    margin-right: 0;
    margin-bottom: 1em;
  }


  .getAQuote {
    width: 70%;
    margin-top: 2%;
    padding: 4%;
  }
  
  .getAQuote h2 {
    font-size: 20px;
  }
  
  .getAQuote a {
    font-size: 15px;
    padding: 6px;
    margin: auto;
    margin-bottom: 0%;
  }
}

/* Adding a media query for small to medium-small screen sizes, changing structure, positions, and sizing */
@media (min-width: 481px) and (max-width: 768px) {
  footer img {
    left: 18%;
    top: 5.3em;
  }

  .masthead h1 {
    height: auto;
    font-size: 2.4em;
  }

  .masthead #wrapper a {
    top: -20%;
  }

  .services {
    height: auto;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

/* Adding a media query for medium to large viewports to change the font sizes, widths and margins */
@media (min-width: 769px) and (max-width: 1024px), (orientation: landscape){
  .masthead a {
    top: 16%;
  }

  .masthead h1 {
    font-size: 2.4em;
  }

  .services {
    height: auto;
  }

  .section #getAQuote {
    text-align: center;
  }
}

/* Adding styling for Mobile Devices changing structure, sizes and positions*/
@media (min-width: 321px) and (max-width: 480px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }


  #wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    
  }

  .masthead h1 {
    font-size: 2.5em;
    margin-top: auto;
    margin-bottom: 0px;
    text-align: center;
  }

  .masthead a {
    /* Less padding */
    padding: 6px;
    font-size: 1em;
    margin: 1em;  
  }

  .services ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto; /* Centers the UL within its parent */
  }

  .services li {
    width: 75%;
    height: 75%;
    justify-content: center;
    margin: 10px auto;
    
  }

  .services {
    height: auto;
  }
  .services li {
    padding: 0.7em;
  }

  .getAQuote {
    margin-top: 30px;
  }

  /* Adjust the footer */
  #bottomWrapper {
    flex-direction: column;
  }

  footer img {
    /* Move the logo to the center of the footer */
    margin: 0 auto;

    /* Move the image to the very bottom */
    order: 1;
  }

  #socialMedia,
  #reachUs,
  #easyAccessLinks {
    margin-right: 0;
    margin-bottom: 1em;
  }


  .getAQuote {
    width: 70%;
    margin-top: 2%;
    padding: 4%;
  }
  
  .getAQuote h2 {
    font-size: 20px;
  }
  
  .getAQuote a {
    font-size: 15px;
    padding: 6px;
    margin: auto;
    margin-bottom: 0%;
  }
}

/* Styling for medium to large screen sizes, changing widths and fonts sizes */
@media (min-width: 1025px) and (max-width: 1200px) {
  #wrapper {
    width: 70%;
  }

  .masthead a {
    font-size: 1.7em;
  }

  .masthead h1 {
    font-size: 3.185em;
  }

  nav a {
    font-size: 1.35em;
  }

  nav img {
    width: 12vw;
    height: 7vw;
  }

  section .services {
    height: auto;
  }
}

/* Adding a media query for large viewports to change the font sizes, widths and margins */
@media (min-width: 1201px) and (max-width: 1600px) {
  #wrapper {
    width: 60%;
    height: auto;
  }

  .masthead a {
    font-size: 1.9em;
    border-radius: 0.5em;
  }

  .masthead h1 {
    font-size: 3.5em;
  }

  .services{
    height: auto;
  }

  .services h2 {
    font-size: 3.1em;
  }

  .services p {
    font-size: 1.1em;
  }

  .services li {
    margin: 1em;
  }

  .services h3 {
    font-size: 2.5em;
  
  }

  nav a {
    font-size: 1.5em;
  }

  nav img {
    width: 14vw;
    height: 8vw;
  }
}

/* ----------------------- End of styling for home page ---------------------- */

/* Adding global styling to the "our work" page */
#seeOurWork {
  text-align: center;
  background-color: rgb(210, 36, 36);
}

/* Adding style to the main header */
#seeOurWork h1 {
  font-size: 3.1875rem;
  margin-bottom: .5em;
  color: rgb(10, 10, 10);
  letter-spacing: 0.1em;
}

#seeOurWork p > img {
  color: #000000;

}

#seeOurWork main {
  border-top: 10px solid rgb(35, 39, 41);
}


#seeOurWork main p:nth-of-type(1) {
  font-size: 1.5rem;
  margin-bottom: 2.5em;
  color: #ffffff;
}

/* Styling the container and container elements of the page */
#seeOurWork #gridContainer {
  display: grid;
  width:  auto;
  height: auto;
  grid-template-areas: 
    "image1 p1"
    "image2 p2"
    "image3 p3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1em;
  column-gap: 2em;
  margin: 1.5em 1.5em;
}

#seeOurWork #gridContainer img {
  width: 100%;
  height: 28em;
  border-radius: 10px;
  margin-bottom: 3em;
}

#seeOurWork #gridContainer p {
  color: white;
  font-size: 1.2em;
  width: 100%;
  height: auto;
  letter-spacing: 0.1em;
  margin-top: 4em;
  text-align: center;
}

/* Declaring where each element lies in the grid */
#image1 { grid-area: image1; }
#p1 { grid-area: p1; }

#image2 { grid-area: image2; }
#p2 { grid-area: p2; }

#imageOverlay { grid-area: image3; }
#p3 { grid-area: p3; }

/* Adding some margin to the footer a's to give the elements some room to breathe */
#seeOurWork footer a {
  margin-left: 2%;
}

/* Adding a hover effect to the images */
/* Create the image overlay */
#imageOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  justify-self: center;
  width: 100%; 
  height: 28em; 
}

#image3 {
  display: block; 
  width: 100%; /* Make the image expand to fit the container's width */
  height: auto; /* Preserve the image's aspect ratio */
}

#imageOverlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  transition: opacity 0.5s ease; /* Smooth transition for the overlay */
  opacity: 1;
}

#imageOverlay:hover::before {
  /* On hover, remove the overlay */
  opacity: 0;
}



/* Media queryies for the "our work" page.
 (≤768x), change the structure, color and margin etc. */
@media (max-width: 768px) {
  #seeOurWork #gridContainer {
    display: flex;
    flex-direction: column;
  }
  #seeOurWork #gridContainer p {
    font-size: 1.01em;
    margin-top: 1em;
    letter-spacing: normal;
    /* Add border top green */
    border-top: 3px solid rgb(56, 65, 69);
    padding-top: 1em;
  }

  #seeOurWork main p:nth-of-type(1) {
    margin-bottom: auto;
    font-size: 1.1em;
    margin-top: 0.3em;
  }

  #seeOurWork h1 {
    font-size: 2.5em;
    margin-bottom: 0;
  }
}

/* A media query for medium to large viewports, changing the margin top of the paragraphs for more room */
@media (min-width: 769px) and (max-width: 1024px), (orientation: landscape){ 
  #seeOurWork #gridContainer p {
    margin-top: 0;
  }
}

/* Increasing the font size and line height, for devices larger than 1024px */
@media (min-width: 1024px) {
  #seeOurWork #gridContainer p {
    font-size: 1.3em;
    /* Add more line height */
    line-height: 2.0;
  }
}
/* -------------- End of "our work" page styling ------ */

/* Adding global styling to the about us page */
#aboutUsPage {
    background-color:rgb(210, 36, 36);
    text-align: center;
}

/* Adding style to main header */
#aboutUsPage h1 {
    font-size: 3.1875rem;
    margin-bottom: .5em;
}

/* Adding styling to the paragraph tags, setting margin, width, color, and size */
#aboutUsPage main p {
    font-size: 1.2rem;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2.5em;
    color: rgb(35, 39, 41);
}

/* Adding a green border */
#aboutUsBodyWrapper {
  border: 5px solid rgb(50, 61, 66);
}

/* Styling headers by adding margin, color, and size */
#aboutUsPage h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
    color: white;
}

#aboutUsPage #certTitle {
    font-size: 2.5rem;
    color: white;
}

/* Styling the main section of the page, making it a flex box */
#aboutUsPage main section {
  display: flex;
  width: 80%;
  margin: 2em auto;
  justify-content: space-around;
}

/* Styling the images on the page */
#aboutUsPage main section img {
  width: 20%;
  height: auto;
  margin: 1em;
  border-radius: 8px;
}

/* Adding a masthead image and styling it */
#aboutUsMastHead {
  background-image: url('../images/aboutUsMastHead1.jpg');
  width: 100%;
  height: auto; 
  background-position: 60%;
  background-size: cover;
  padding: 4em 0;
  text-align: center;
  display: grid;
  place-items: center;
}

/* Adding a see-through layover that will allow the header to stand out */
#aboutUsHeaderWrapper {
  background-color: rgba(56, 65, 69, 0.96);
  padding: 0.01em 10em;
  border-radius: 10px;
}

/* Styling the main header of the page */
#aboutUsHeaderWrapper h1 {
  font-size: 4em;
  margin-bottom: .5em;
  color: white;
}

 /* Adding a media query for small to medium view ports, changing the layout and font sizes to best fit the screen size */
@media (max-width: 768px) {
  #aboutUsPage main section {
    flex-direction: column;
  }

  #aboutUsPage main section img {
    width: auto;
  }

  #aboutUsPage main h1, #aboutUsPage main h2{
    font-size: 1.3em;
  }

  #aboutUsPage main p {
    font-size: 0.9em;
    width: 70%;
  }

  #aboutUsPage #certTitle {
    font-size: 1.4em;
  }

  #aboutUsPage main p {
    font-size: 1em;
  }
  
  main #aboutUsHeaderWrapper {
    width: auto;
    padding: 1em 4em;
    margin: auto;
  }
  
   #aboutUsPage main #aboutUsHeaderWrapper h1 {
    font-size: 1.7em;
  }
}

/* Adding a media query for medium to large view-ports to change the font size */
@media (min-width: 768px) and (max-width: 1024px), (orientation: landscape){
  #aboutUsPage main p {
    font-size: 1.1em;
  }
}



/* ---------- End of about us page styling --------------------- */

/* Adding some global styling to the contact page */
#contactPage main {
  text-align: center;
  color: #000;
}

#contactPage form{
  display: flex;
  flex-direction: column;
}

/* Adding styling the main section of the page */
#contactMainSection {
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin: auto;
  color: #fff;
  padding: 2em 0;
}

#contactMainSection p {
  font-size: 1.6em;
  margin-top: 1em;
}

/* Adding a masthead background image and styling it */
#contactUsMastHead {
  background-image: url('../images/contact-masthead1.jpg');
  width: 100%;
  height: auto; 
  background-position: 60%;
  background-size: cover;
  padding: 4em 0;
  text-align: center;
  display: grid;
  place-items: center;
}

/* Adding a see-through background so that the header stands out */
#contactPageHeaderWrapper {
  background-color: rgba(56, 65, 69, 0.96);
  padding: 0.01em 10em;
  border-radius: 10px;
}

/* Adding styling to the headers */
#contactPage h1 {
  font-size: 4em;
  margin-bottom: .5em;
  color: white;
}

#contactPage h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: rgb(10, 10, 10);

}

/* Styling the reach us directly section of the page, adding a flex container */
#reachUsDirectlyWrapper {
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#reachUsDirectlyWrapper p {
  font-size: 1.2em;
}

/* Styling the form background */
#contactPage #formWrapper {
  width: 70%;
  margin: 2em auto;
  padding: 2em;
  border-radius: 10px;
  /* Add a off white background color */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

#contactMainSection {
  background-color: rgb(210, 36, 36)
}

#contactPage a {
  color: #fff;
  text-decoration: none;

}

/* Adding style to the form */
#contactPage form label {
  font-size: 1em;
  color: black;
}


form p {
  margin-bottom: 0.7em;
  color: #000;
}

form #serviceOfInterest {
  color: rgb(192, 37, 37);
  font-size: 2em;
}


#formWrapper form {
  width: 80%;
  margin: 0 auto;
}

/* Making the checkbox be in a flex-container */
#formCheckBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em 2em;
  font-size: 1em;
}


/* Add spacing to the elements of the form */
#formWrapper form input, #formWrapper form textarea {
  margin: 0.5em 0;
}

/* Target the message label, add margin top */
#formWrapper form label[for="message"] {
  margin-top: 1em;
}

/* Target the submit button */
#formWrapper form input[type="submit"] {
  background-color: rgb(50, 61, 66);
  color: rgb(210, 36, 36);
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-top: 1em;
}

@media (max-width: 399px) {
  main #reachUsDirectlyWrapper p {
    font-size: 1em;
  }
}

/* Add a media query for medium to large viewport sizes, rearranging the structure and changing font size */
@media (min-width: 768px) and (max-width: 894px) {
  #contactPage #contactPageHeaderWrapper {
    padding: 0.01em 1em;
    width: 80%;
  }

  #contactPage h1 {
    font-size: 4.5em;
  }
}

/* Adding a media query for small to medium viewport sizes, rearranging the structure and changing font size */
@media (max-width: 768px) {
  #contactPageHeaderWrapper {
    padding: 0.02em 1.4em;
    width: 80%;
  }

  #contactPage h1 {
    font-size: 2.5em;
  }

  #contactPage h2 {
    font-size: 1.5em;
  }

  #contactPage form label {
    font-size: 1.2em;
  }

  #formWrapper form {
    width: 90%;
  }

  #formWrapper form input[type="submit"] {
    font-size: 1.2em;
  }

  #contactPage #formWrapper {
    width: 80%;
    padding: 1em;
  }

  #contactPage #reachUsDirectlyWrapper {
    padding: 1em;
  }

  #reachUsDirectlyWrapper p {
    font-size: 1em;
  }

  #contactMainSection p {
    font-size: 1.3em;
  }

  #contactPage a {
    font-size: 1em;
  }
}



/* -------------- End of contact page styling --------------------- */

/* Adding global styling */
#servicePage {
  background-color: rgb(210, 36, 36);
  text-align: center;
}

/* Setting up a masthead for the page */
#servicePage #servicesMastHead {
  background-image: url("../images/services-masthead1.jpg");
  background-position: 60%;
  background-size: cover;
  height: auto;
  padding: 4em;
  margin-bottom: auto;
}

/* Setting up a wrapper for the page, with a see through background */
#servicePage #servicesWrapper {
  background: rgba(56, 65, 69, 0.96);
  width: 54%;
  margin: auto;
  padding: 0.1em 0em;
  border-radius: 10px;
}

/* Styling page headers */
#servicesWrapper h1 {
  font-size: 4em;
  margin-bottom: .5em;
  color: white;
  text-align: center;
}

#servicePage h2 {
  font-size: 2.3em;
  margin-bottom: 1em;
  color: white;
}

/* Styling the paragraph tags, setting size, font, and color */
#servicePage main p {
  font-size: 1.2em;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2.5em;
  color: rgb(35, 39, 41);
}

/* Adding border */
#productSection {
  border: 5px solid rgb(50, 61, 66);
}

/* Adding a filer look to the images */
#servicePage #productSection img {
  width: 40%;
  height: 20em;
  border-radius: 10px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}

/* Getting the last image of the product section, and adding margin for more space */
#servicePage #productSection img:last-of-type {
  margin-bottom: 2em;
}

@media (max-width: 425px) {
  #servicePage #productSection img {
    height: 12em;
  }
}

/* A media query for small screens, resizes the wrapper and changes font and image size */
@media (max-width: 333px) {
  #servicePage main #servicesWrapper h1 {
    font-size: 1.5em;
  }

  #servicePage #servicesWrapper {
    width: 80%;
  }

  #servicePage h2 {
    font-size: 1.7em;
  }

  #servicePage main p {
    font-size: 1em;
  }
}

/* A media query for medium screens, resizes the wrapper and changes font and image size */
@media (min-width: 333px) and (max-width: 768px) {
  #servicePage #servicesWrapper {
    width: 80%;
  }

  #servicePage #servicesWrapper h1 {
    font-size: 2.3em;
  }

  #servicePage h2 {
    font-size: 1.7em;
  }

  #servicePage main p {
    font-size: 1em;
  }

  #productSection img {
    width: 80%;
    height: 80%;
  }
}