

body {
  font-family: 'Montserrat', sans-serif;
  color: #4A4A4A;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #fff;
}

/* Header and Navigation */
header {
  background-color: rgb(2, 49, 82); /* Dark grey-blue */
  padding: 0.1em 0;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
}


nav img {
  width: 170px;
  height: 80px;
  border-radius: 30px;

}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

/* Masthead */
.masthead {
  background-image: url('../images/V2_2020-US061_DSC4773-2-2685357568.jpg');
  width: 100%;
  height: 80vh;
  background-position: 60%;
  background-size: cover;
  padding: 2em 0;
  text-align: center;
}

#wrapper {
  width: 54%;
  height: 32vh;
  margin: 125px auto;
  /* Transparant black background */
  background: rgba(4, 4, 4, 0.9);
  border-radius: 40px;
}

.masthead h1 {
  font-size: 2.7em;
  margin-bottom: 0.5em;
  font-size: 50px;
  position: relative;
  top: 15%;
  color: white;
}

.masthead a {
  display: inline-block;
  padding: 0.7em 1.5em;
  background: rgb(214,120,42);
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
  top: 20%;
}

/* Services Section */
.services {
  background-color: rgb(2, 49, 82);
  text-align: center;
  padding: 2em 0;
  margin-top: 0%;
  width: 100%;
  height: 95vh;
}

.services ul {
  display: flex;
  width: 100%;
}

.services h2 {
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 1em;
}

.services ul {
  padding: 0;
}

.services li {
  list-style: none;
  align-items: center;
  width: 33.33%;
  margin: 1.5em;
  background: #f5f5f5; /* Light grey */
  padding: 1em;
  border-radius: 5px;

}

.services li img {
  width: 100%;
  height: auto;
  
  border-bottom: 5px solid #066B3B; /* Green */
}

.services h3 {
  color: #333;
  margin: 0.5em 0;
}

.services p {
  font-size: 0.9em;
}


/* Quote Section */
.getAQuote {
  background: #066B3B;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  height: 15vh;
}

.getAQuote h2 {
  margin: 4px auto 6px;

  font-size: 30px;
  /* margin-bottom: 1em; */
}

.getAQuote a {
  display: inline-block;
  margin-top: 16px;
  font-size: 20px;
  padding: 0.5em 1.8em;
  background: rgb(214,120,42); /* Green */
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
}

/* Footer */
footer {
  background: #263238; /* Dark grey-blue */
  color: white;
  padding: 1em 0;
  text-align: center;
  margin: auto;
  width: 100%;
  height: auto;
}

footer img {
  position: relative;
  left: 1%;
  width: 170px;
  height: 80px;
  border-radius: 30px;
  margin-top: 60px;
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5em;
}

footer h4 {
  margin-bottom: 12px;
}


footer li {
  font-size: 0.8em;
  list-style: none;
}

footer p {
  font-size: 0.8em;
}

#bottomWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#easyAccessLinks ul {
  padding: 0;
  margin: 0 auto; 
  list-style-type: none; 
  text-align: center; 
}



#socialMedia,
#reachUs,
#easyAccessLinks {
  display: inline-block;
  margin-right: 2em;
  flex: 1;
  
}



/* Tablets to Small Desktops (≤992px) */
@media (max-width: 992px) {
  
}

/* Mobile Devices (≤768px) */
@media (max-width: 768px) {


  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }


  #wrapper {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 40px;
    
  }

  #wrapper a {
    padding: 12px;
    text-align: center;
  }

  .masthead h1 {
    font-size: 2.5em;
    margin-top: auto;
    margin-bottom: 0px;
    text-align: center;
  }


  .services ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto; /* Centers the UL within its parent */
  }

  .services li {
    width: 75%;
    height: 75%;
    justify-content: center;
    margin: 10px auto;
    
  }

  footer  {

  }

  .services {
    height: auto;
  }

  .getAQuote {
    margin-top: 30px ;
  }

  /* Adjust the footer */
  #bottomWrapper {
    flex-direction: column;
  }

  footer img {
    /* Move the logo to the center of the footer */
    margin: 0 auto;

    /* Move the image to the very bottom */
    order: 1;
  }

  #socialMedia,
  #reachUs,
  #easyAccessLinks {
    margin-right: 0;
    margin-bottom: 1em;
  }


  .getAQuote {
    width: 70%;
    margin-top: 2%;
    padding: 4%;
  }
  
  .getAQuote h2 {
    font-size: 20px;
  }
  
  .getAQuote a {
    font-size: 15px;
    padding: 6px;
    margin: auto;
    margin-bottom: 0%;
  }
}
